.Card {
  display: grid;
  grid-template-columns: 1fr 135px;
  gap: 15px;
  position: relative;
  font-size: 0.8em;
  border-radius: 25px;
  box-shadow: 0 0 9px black;
}

.Card__picturebox {
  width: 135px;
  height: 200px;
  overflow: hidden;
  border-radius: 0 25px 25px 0;
}

.Card img {
  height: 230px;
}

.profilebox {
  display: grid;
  background-color: var(--color-secondary);
  padding: 10px;
  box-shadow: 0 0 23px var(--grey-shadow);
  border-radius: 25px 0 0 25px;
  text-align: right;
}
