.Peoplepage {
  overflow-y: scroll;
  padding: 15px 15px 0;
}

.Peoplepage__navcontainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.Peoplepage__cardcontainer {
  display: grid;
  gap: 15px;
}
