.AppHeader {
  background: var(--color-grey);
  box-shadow: 0 0 10px var(--color-black);
  color: var(--color-white);
  padding: 12px;
}

.AppHeader h1 {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
