.AppHeader {
  background: var(--color-grey);
  box-shadow: 0 0 10px var(--color-black);
  color: var(--color-white);
  padding: 8px;
}

.AppHeader h1 {
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Jim Nightshade', cursive;
}
